/* typography */

h1, h2, h3, h4, h5, h6 {
}

h1 {
}

h2 {
    margin-top: 1em;
}

a {
    color: #0263ca;    
}

p a {
    text-decoration: underline dotted;
}

body {
    margin-bottom: 5em;
}

nav {
    margin: 1em 0 0 0;
}

header h1 {
    margin-bottom: 0;
}

/* end of typography */

/* intro text */
#intro-text {
    margin: 2em 0;
}

/* index cards */

.index-card h2 {
    font-size: 1.25rem;
    margin: 0.5rem 0;
}

.index-card h3 {
    font-size: 1rem;
    margin: 0.3rem 0;
}

.index-card .card-body {
}
.index-card-nav {
    font-variant: small-caps;
    margin: 0.5rem 0;
}

.previous-record {}

.next-record {
    float:right;    
}

/* end of index cards */

/* values and labels */

.field-label-and-value {
}

.field-value { 
    display: inline-block;
}
.field-null { 
    color: #ccc;
    font-size: small;
}
.field-label { 
    display: inline-block;
}
.field-label:after { 
    content: ':';
}

/* end of values and labels */

/* Start results summary */

.result-summary .record-count {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1em;
}

.result-summary .switch {
    display: inline-block;
    vertical-align: middle;
}

.result-summary input[type=checkbox] {
    vertical-align: middle;
}

.result-summary label {
    vertical-align: middle;
    margin-bottom: 0;
}

.floating-summary {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem; 
    z-index: 10;
}
.floating-summary .card {
    box-shadow: 2px 6px 20px 2px rgba(0,0,0,0.2);
}

/* End results summary */

/* filter */
.between-number-filter {
    display:inline-block;
    width:auto
}
.form-control::placeholder {
    color: #727272;
}

.multiselect__placeholder {
    color: #727272;
}


/* End filter */

/* force switch to be more blue */

.switch input:checked + label::before {
    background-color: #0263ca !important;
}

/* end force switch to be more blue */

